<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#t").click(function(){

   $("#tanmay").show()
  });
   $(".rash").click(function(){
    console.log("i am click")
  });

});
</script>
</head>
<body>

<button id="t"> If you click on me, I will disappear.</button>
<p class="rash">Click me away!</p>
<p style="display : none" id="tanmay"s>ha ha bohat!</p>

</body>
</html>
