<h1>
  Products
</h1>
<ul>
  <% @carts.each do |cart| %>
    <% if cart.product.present? %>
      <li>
        <%= cart.product.name %><br>
        <%= cart.product.price %><br>
        <%= image_tag(cart.product.image) if cart.product.image.attached? %>
      </li>
    <% end%>
  <% end %>
</ul>