<h1>Category </h1>

<%= form_for @brand , :url =>  brands_path , method: :post do |f| %>	

 Category Name : <%= f.text_field :name %>

 <%= submit_tag 'submit'  %>
 
<% end %>
<%=link_to "create brand",new_category_path %>
 